<html>
        <head>
            <title>Fonso Blog</title>
        </head>
        <body>
            <div>
              <h1><a href="">Django yippie yay</a></hi>
                <p>Esta vaina</p>
            </div>
            <div>
              <p>publicado: 1-1-2000,12:43<p>Funsiona</p>
              <h2><a href"">Es primer post epico</a></h2>
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus</p>
            </div>
        </body>
    </html>
